body {
    font-family: Arial, sans-serif;
    background-image: url(../img/bg.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 500px;
}

.registration-form {
    background-color: #b1a7a760;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.registration-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input{
    width: 100%;
    padding: 0;
    border: 1px solid #cccccc92;
    border-radius: 1px;
    font-size: 25px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
.kembali{
    background: #20b2aa;
    color: #fafafa;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s; 
}
.btn:hover{
    transform: scale(1.2);
}